* {
    margin: 0px;
    padding: 0px;
}

div.container { /*PAI*/
    margin: 5px;
    background-color: #000000;
    height: 150px;

    /*-- Flex-flow = flex-direction + flex-wrap */
    display: flex;
    /*flex-direction: row-reverse;
    flex-wrap: wrap-reverse;*/
    flex-flow: row wrap;
    justify-content: end;

}

div.item { /*FILHO*/
    background-color: #ff0000;
    border: 1px solid #000000;
    text-align: center;
    flex: auto;

}