@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

:root{

    --fonte-titolo: 'Passion One', sans-serif;
    --fonte-conteudo: 'Sriracha', verdana;    
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    font-family: var(--fonte-titolo);
    font-size: 5em;
    font-variant: small-caps;
    margin: 0px;
    padding-top: 60px;
}

header > p {
    font-family: var(--fonte-titolo);
    font-size: 1.3em;
    padding-bottom: 60px;   
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

main{
    font-family: var(--fonte-conteudo);
    font-weight: normal;
    font-size: 1.6em;
    line-height: 2em;
    padding: 55px 30px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: black;
    color: white;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}