* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}

.container {
    background-color: cornflowerblue;
    border: 2px dashed black;
    margin: 10px;
    padding: 10px;

    display: grid;
    grid-template-columns: auto auto auto; /*A quantidade de auto representa a qtd. de colunas.*/
    grid-template-rows: 150px 100px 150px ;
    gap: 5px;
}

.item {
    border: 2px dashed #000000;
    padding: 5px;
    margin: 2px;
}

#different {
    background-color: aqua;
    grid-row: 1;
    grid-column: 3;
    grid-area: span 2 / span 1;
}

#itemG {
    background-color: tomato;
    grid-area: span 1 / span 2;
}