div.container {
    background-color: #46b446;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}

div.item {
    background-color: #ffffff;
    border: 1px solid #000000;
    text-align: center;
    padding: 10px;
}